<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>9.3</string>
    <key>DTSDKName</key>
    <string>iphoneos9.3</string>
    <key>CFBundleName</key>
    <string>OpenCourse</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleBlackOpaque</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.education</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>sinaweibohd</string>
      <string>sinaweibo</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>mqq</string>
      <string>mqqapi</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqapiwallet</string>
      <string>mqqwpa</string>
      <string>mqqbrowser</string>
      <string>wtloginmqq2</string>
      <string>weixin</string>
      <string>wechat</string>
      <string>yixin</string>
      <string>yixinopenapi</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>网易公开课</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string></string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13E230</string>
    <key>CFBundleShortVersionString</key>
    <string>10043</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>15C50</string>
    <key>DTPlatformBuild</key>
    <string>13E230</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>7D175</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>CFBundleVersion</key>
    <string>4.5.4</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{768, 1024}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-Landscape</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>NSMainNibFile</key>
    <string>MainWindow_iPhone</string>
    <key>CFBundleLocalizations</key>
    <array>
      <string>zh_CN</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.netease.videoHD</string>
    <key>DTXcode</key>
    <string>0730</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>OpenCourse</string>
    <key>NSMainNibFile~ipad</key>
    <string>MainWindow_iPad</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.netease.ntesopen</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>neteaseVopen</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin_oc</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx360dfb6a89d5bca2</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>yixin_oc</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>yxffe9005aacb94b60892f4918160ef12c</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>lofter_oc</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>lofter84e67121f712369b098c57eba583446c</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>tencent</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent100857527</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb1023607621</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
      </dict>
    </array>
  </dict>
</plist>
